:root {
  --heading-color: #e0e0e0;
  --heading-secondary-color: rgb(0, 255, 198);
  --accent-color: #ffd700;
}

h1 {
  color: var(--heading-color);
  margin: 40px 0 50px;
  text-align: center;
  font-size: 42px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
  margin: 80px 0 70px;
}

h3 {
  color: var(--heading-secondary-color);
  opacity: 0.9;
}

footer {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--heading-secondary-color);
}

footer a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.GameList .table-header {
  margin: 40px;
}

.match-teams {
  font-weight: 700;
}

.match-selection {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.confirm-button {
  display: block;
  margin: 5px auto 0;
  width: 100%;
  background-color: rgb(0, 230, 179);
  border: 4px double var(--accent-color);
  padding: 7px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}

.confirm-button:hover {
  background-color: rgb(0, 204, 153);
  color: white;
  border: 4px double var(--accent-color);
  transform: scale(1.005);
}

@media (max-width: 992px) {
  .GameCard .game-info {
    border-right: none;
    border-bottom: 3px double var(--heading-color);
    padding: 10px;
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .BetTicket .game-bet-info {
    margin: 0 0 30px;
  }
  .GameCard button {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .Navbar .navbar-brand {
    border-right: none;
  }
  .Navbar .navbar-nav.icon-list {
    margin-top: 10px;
  }
}
