:root {
  --heading-color: #e0e0e0;
  --heading-secondary-color: rgb(0, 255, 198);
  --accent-color: #ffd700;
}

h1 {
  color: var(--heading-color);
  margin: 40px 0 50px;
  text-align: center;
  font-size: 42px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
}

h3 {
  color: var(--heading-secondary-color);
  opacity: 0.9;
}

.GameList .table-header {
  margin: 40px;
}
